#taskbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(45px * var(--ui-scale));
    background-color: var(--bios-bg);
    border-top: 2px solid var(--bios-text);
    display: flex;
    align-items: center;
    padding: 0 calc(10px * var(--ui-scale));
    box-sizing: border-box;
    z-index: var(--z-taskbar);
    color: var(--bios-text);
    font-size: calc(1.2rem * var(--ui-scale));
}


.start-button {
    width: calc(96px * var(--ui-scale));
    height: calc(32px * var(--ui-scale));
    background-image: url('../assets/start-menu/start-idle.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-right: calc(15px * var(--ui-scale));

    image-rendering: pixelated;
}

.start-button:hover {
    background-image: url('../assets/start-menu/start-hovered.png');
}

.start-button.active {
    background-image: url('../assets/start-menu/start-selected.png');
}

.clock {
    margin-left: auto;
    border-left: 2px solid var(--bios-text);
    padding-left: calc(15px * var(--ui-scale));
    height: 100%;
    display: flex;
    align-items: center;
}